body {
	font-family: sans-serif;
	background-color: #222;
	color: #fff;
}

h4 {
	font-family: sans-serif;
}

#question-display, #answer-display {
	text-align: center;
}

footer {
	align-items: center;
}

.ansmodal-content {
	height: 70%;
}

.reveal {
	visibility: visible;
	opacity: 1;
	transition: visibility 0.5s linear;
}

.goaway {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.5s, opacity 0.5s linear;
}


:root {
	--marq-width: 148px;
}

.marq-area {
	max-width: var(--marq-width);
	white-space: nowrap;
	overflow: hidden;

	padding-left: 5px;
	padding-right: 10px;
}

.marq-line {
	/* color: #000; */
	/* text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px; */
	-webkit-font-smoothing: antialiased;
	width: fit-content;
}

.marq-animate {
	animation: marquee-scroll 5s ease-in-out infinite;
}

@keyframes marquee-scroll {
	0% {
		-moz-transform: translateX(0%);
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
	20% {
		-moz-transform: translateX(0%);
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
	50% {
		-moz-transform: translateX(calc(-100% + var(--marq-width) - 10px));
		-webkit-transform: translateX(calc(-100% + var(--marq-width) - 10px));
		transform: translateX(calc(-100% + var(--marq-width) - 10px));
	}
	70% {
		-moz-transform: translateX(calc(-100% + var(--marq-width) - 10px));
		-webkit-transform: translateX(calc(-100% + var(--marq-width) - 10px));
		transform: translateX(calc(-100% + var(--marq-width) - 10px));
	}
	100% {
		-moz-transform: translateX(0%);
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
}